<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.shubhamkumarwinner.udemycourse">

    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.UdemyCourse">
        <activity
            android:name=".fast_adapter.drag_drop.DragDropAdapterActivity"
            android:exported="true" />
        <activity
            android:name=".fast_adapter.diffutil.DiffUtilAdapterActivity"
            android:exported="true" />
        <activity
            android:name=".fast_adapter.expand_list.ExpandableAdapterActivity"
            android:exported="true" />
        <activity
            android:name=".fast_adapter.multi_type.MultipleTypeItemActivity"
            android:exported="true" />
        <activity
            android:name=".fast_adapter.swipe_list.SwipeListAdapterActivity"
            android:exported="true" />
        <activity
            android:name=".fast_adapter.multi_select.MultiSelectAdapterActivity"
            android:exported="true"
            android:label="MultiSelectAdapter" />
        <activity
            android:name=".fast_adapter.radio_button.RadioButtonAdapterActivity"
            android:exported="true"
            android:label="RadioButtonAdapter" />
        <activity
            android:name=".fast_adapter.sort.SortAdapterActivity"
            android:exported="true"
            android:label="SortAdapter" />
        <activity
            android:name=".fast_adapter.endless_scroll.EndlessScrollListActivity"
            android:exported="true"
            android:label="EndlessScrollList" />
        <activity
            android:name=".fast_adapter.check_box.CheckboxAdapterActivity"
            android:exported="true"
            android:label="CheckboxAdapter" />
        <activity
            android:name=".fast_adapter.fast_scroll.FastScrollAdapterActivity"
            android:exported="true" />
        <activity
            android:name=".fast_adapter.image_list.ImageListAdapterActivity"
            android:exported="true"
            android:label="ImageListAdapter" />
        <activity
            android:name=".fast_adapter.grid_item.IconGridAdapterActivity"
            android:exported="true"
            android:label="IconGridAdapter" />
        <activity
            android:name=".fast_adapter.simple_item.SimpleItemAdapterActivity"
            android:exported="true"
            android:label="SimpleItemAdapter" />
        <activity
            android:name=".fast_adapter.FastAdapterActivity"
            android:exported="true"
            android:label="FastAdapterActivity" />
        <activity
            android:name=".database_and_friends_app.task_timer.DurationsReportActivity"
            android:exported="true"
            android:label="@string/title_activity_durations_report"
            android:theme="@style/Theme.UdemyCourse.NoActionBar" />
        <activity
            android:name=".database_and_friends_app.task_timer.TaskTimerActivity"
            android:exported="true"
            android:label="@string/title_activity_task_timer"
            android:theme="@style/Theme.UdemyCourse.NoActionBar" />
        <activity
            android:name=".database_and_friends_app.DatabaseActivity"
            android:exported="true"
            android:label="Database and friends" />
        <activity
            android:name=".database_and_friends_app.content_provider.ContentProviderActivity"
            android:exported="true"
            android:label="@string/title_activity_content_provider"
            android:theme="@style/Theme.UdemyCourse.NoActionBar" />
        <activity
            android:name=".database_and_friends_app.sqlite_database.SqliteDatabaseActivity"
            android:exported="true"
            android:label="@string/title_activity_sqlite_database"
            android:theme="@style/Theme.UdemyCourse.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name=".database_and_friends_app.task_timer.TaskTimerProvider"
            android:authorities="com.shubhamkumarwinner.udemycourse.provider"
            android:exported="false" />
    </application>

</manifest>